<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<!--Aqui cambiar por los datos de conexion del servidor local-->
		<add name="LOCAL" connectionString="Data Source=ALICE-DESKTOP;&#xD;&#xA;Initial Catalog=TRIVIA;Persist Security Info=True; Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="Basededatos.Properties.Settings.ConnectionString"
		 connectionString="Data Source=ALICE-DESKTOP;Integrated Security=True;TrustServerCertificate=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>